<small>PAGE 1</small>

<h1 >Maritime Cruise Agreement onboard a Yacht</h1>
<h2 >Special Terms</h2<

<strong>Agreement Number: {{ cruise_id }}<br>

By and between,<br>

<p>IF carrier.is_company=1 then on remplit cette partie:

_the Carrier, party of the first part:</strong>
Company name: {{ carrier.company_name }}
Registered in: {{ carrier.company_reg_country }}
Having its registered office at: {{ carrier.company_reg_address }}
under the number: {{ carrier.company_reg_num }}
Intra-community VAT number: {{ carrier.company_vat_num }}
Represented for the purpose hereof by: {{ carrier.first_name }} {{ carrier.last_name }}
acting in his capacity as: {{ carrier.capacity }}
Duly authorised to that end;

IF carrier.is_company=0 then on remplit cette partie:

or Ms and/or Mr: {{ carrier.first_name }} {{ carrier.last_name }}
a [[carrier.nationality -> use passport_country instead?]] National;
of: {{ carrier.address }}</p>

Owner of the following vessel: {{ yacht.name }}<br>

<p>IF client.is_company=1 then on remplit cette partie:

<strong>_and the Client, party of the second part:</strong>
Company name: {{ client.company_name }}
Registered in: {{ client.company_reg_country }}
Having its registered office at: {{ client.company_reg_address }}
under the number: {{ client.company_reg_num }}
Intra-community VAT number: {{ client.company_vat_num }}
Represented for the purpose hereof by: {{ client.first_name }} {{ client.last_name }}
acting in his capacity as: {{ client.capacity }}
Duly authorised to that end;

IF client.is_company=0 then on remplit cette partie:

or Ms and/or Mr: {{ client.first_name }} {{ client.last_name }}
a [[ client.nationality ]] National;
of: {{ client.address }}</p>

(Hereinafter collectively the "Parties" and individually a "Party")<br>

<p><strong>in the presence of the Broker,</strong>
Company name: {{ broker.company_name }}
Registered in: {{ broker.company_reg_country }}
Having its registered office at: {{ broker.company_reg_address }}
under the number: {{ broker.company_reg_num }}
Intra-community VAT number: {{ broker.company_vat_num }}
Holder of travel agent licence number:{{ broker.travel_agent_id }}
Secured by a financial guarantee of:{{ broker.financial_guarantee_ammount }}
Guarantor's name:{{ broker.financial_guarantee }}
Covered by civil professionnal insurance policy number:{{ broker.company_insurance_pol }}
Executed xith (insurer name):{{ broker.company_insurance_name }}
Affiliated with (federation's and/or association's name):{{ broker.company_affil }}
under the number:{{ broker.company_affil_num }}
Represented for the purpose hereof by: {{ broker.first_name }} {{ broker.last_name }}
acting in his capacity as: {{ broker.capacity }}
Duly authorised to that end;</p>

<p><strong>and/or in the presence of the Broker/Escrow Agent</strong> (stakeholder),
Company name: {{ stakeholder.company_name }}
Registered in: {{ stakeholder.company_reg_country }}
Having its registered office at: {{ stakeholder.company_reg_address }}
under the number: {{ stakeholder.company_reg_num }}
Intra-community VAT number: {{ stakeholder.company_vat_num }}
Holder of travel agent licence number:{{ stakeholder.travel_agent_id }}
Secured by a financial guarantee of:{{ stakeholder.financial_guarantee_ammount }}
Guarantor's name:{{ stakeholder.financial_guarantee }}
Covered by civil professionnal insurance policy number:{{ stakeholder.company_insurance_pol }}
Executed xith (insurer name):{{ stakeholder.company_insurance_name }}
Affiliated with (federation's and/or association's name):{{ stakeholder.company_affil }}
under the number:{{ stakeholder.company_affil_num }}
Represented for the purpose hereof by: {{ stakeholder.first_name }} {{ stakeholder.last_name }}
acting in his capacity as: {{ stakeholder.capacity }}
Duly authorised to that end;</p>

<small>PAGE 2</small>

<p><strong>Whereas:</strong><br>
The Client has wished to complete a cruise onboard a Yacht.
After exchanges with the Broker aimed at the selection of the vessel, the organisation of the maritime cruise (trip, calls, cruise periods) and the determination of any associated services, where applicable, the Client has agreed to execute, through the Broker, acting in the name and on behalf of the Carrier identified above, this maritime cruise agreement.</p>

<strong>Now therefore, it has been agreed as follows:</strong><br>

<h4>SPECIAL TERMS</h4><br>

<h5>ARTICLE 1 - INFORMATION CONCERNING THE VESSEL<h5><br>
Vessel's Name:{{ yacht.name }}
Type:{{ yacht.type }}
Status:{{ yacht.??? }}
Flag:{{ yacht.flag }}
Length:{{ yacht.loa }}
IMO number:{{ yacht.imo_nb }}
Port of Registration:{{ yacht.port_of_registry_id }}
Registration number:{{ yacht.official_num }}
Description of the Vessel and the related aquipment : Exhibit 1

<h5>ARTICLE 2 - INFORMATION CONCERNING THE CRUISE</h5></br>
Positioning of the vessel:<br>
Toward the Port of Embarkation, from: {{ wp.wpoi_del }} to: {{ wp.wpoi_emb.embfirst }}<br>
Return from the Port of Disembarkation, from: {{ wp.wpoi_deb.deblast }} to: {{ wp.wpoi_redel }}<br>
Cruise period: <br>
from: {{ wp.wpoi_emb.embfirst.arr_date }}<br>
until:{{ wp.wpoi_deb.deblast.dep_date }}<br>
Journey:<br>
Embarkation on the vessel at the port of: {{ wp.wpoi_emb.embfirst }} at {{ wp.wpoi_emb.embfirst.arr_time }}hour.<br>
Disembarkation from the vessel at the port of: {{ wp.wpoi_deb.deblast }} at {{ wp.wpoi_deb.deblast.dep_time }}hour.<br>
Cruise area: {{ cruise_id.area }} <br>
Scheduled stopovers: {{ wp.wpoi_list }}<br>
The cruise ticket and where applicable the vounchers corresponding, for each stopover, to any on-land services shall form jointly a cruise book and shall be delivered before embarkation.<br>

<h5>ARTICLE 3 - INFORMATION CONCERNING THE PASSENGERS</h5></br>
<h6>3.1 Number of passengers</h6></br>
Number of Passengers with berth (maximum of 12): {{ yacht.max_nb_passengers_sleep }}</br>
Max number of navigating Passengers (maximum of 12): {{ yacht.max_nb_passengers }}</br>

<h6>3.2 List and identity of the Client and the Passengers</h6><br>
<p>If the list is incomplete on the date that the agreement is signed, an amendment with an exhaustive list of the Passengers must imperatively be provided, before boarding, to the Carrier or to the shipmaster acting as its representative.</p><br>

<p>1/ SURNAME, Given name: {{ pass1.last_name }}{{ pass1.first_name }} <br>
Birth date:{{ pass1.date_of_birth }}<br>
Nationality:{{ pass1.passport_country }}<br>
Address:{{ pass1.address }}<br>
Date of boarding onboard the vessel*: {{ wp.wpoi_emb.pass1.arr_date }} at the port of: {{ wp.wpoi_emb.pass1 }} at {{ wp.wpoi_emb.pass1.arr_time }}hour.<br>
Date of disembarking from the vessel*: {{ wp.wpoi_deb.pass1.dep_date }}at the port of: {{ wp.wpoi_deb.pass1 }}at {{ wp.wpoi_deb.pass1.dep_time }}hour.<br>
*(if different from the dates and places stated in Article 2 - Information related to the cruise)<br></p>

<p>2/ SURNAME, Given name: {{ pass2.last_name }}{{ pass2.first_name }} <br>
Birth date:{{ pass2.date_of_birth }}<br>
Nationality:{{ pass2.passport_country }}<br>
Address:{{ pass2.address }}<br>
Date of boarding onboard the vessel*: {{ wp.wpoi_emb.pass2.arr_date }} at the port of: {{ wp.wpoi_emb.pass2 }} at {{ wp.wpoi_emb.pass2.arr_time }}hour.<br>
Date of disembarking from the vessel*: {{ wp.wpoi_deb.pass2.dep_date }}at the port of: {{ wp.wpoi_deb.pass2 }}at {{ wp.wpoi_deb.pass2.dep_time }}hour.<br>
*(if different from the dates and places stated in Article 2 - Information related to the cruise)<br></P>

<small>PAGE 3</small>

<p>3/ Repeat with Pass3</p>
<p>4/ Repeat with Pass4</p>
...
<p>12/ up to: Repeat with Pass12</p>

<small>PAGE 4</small><br>

<h6>3.3 Computing and Civil Liberties</h6><br>
<p>In accordance with the Act No. 78-17 of the 6th of January 1978 regarding computing and civil liberties, the Client shall have an access, correction and deletion right of any such nominative data and information concerning him that the Carrier or the Broker(s) may have to collect for the purpose of their operations.</p>

<h5>ARTICLE 4 - FINANCIAL TERMS</h5>

<h6>4.1 The Cruise Agreement Price includes the following:</h6>
<p>The Cruise, as defined in Article 2, including:<br>
_The presence of a highly qualified crew;<br>
_The oil products necessary for the operation of the Vessel for the routing toward the Port of Embarkation, for the routing return from the Port of Disembarkation and for the Journey and foreseen Cruise Period.<br>
a- Estimation of consumption for the towards and return routing of the Vessel is: {{ cruise_id.fuel_routing_tot }} litres of fuel.<br>
b- Estimation of consumption for the Journey and foreseen cruise period is: {{ cruise_id.fuel_cruise_tot }} litres of fuel.<br>
c- Estimation of total consumption for the service provision is (a+b): {{ cruise_id.fuel_agreement_tot }} litres of fuel.<br>
The fuel price taken into account for the above consumption estimates is € {{ cruise_id.fuel_price1 }} not including taxes per litre. This price can be subject to adjustment under the terms set forth in article L211-12 of the French Toursim Code or in amendment to the Cruise Agreement in case of Journey modification at the request of the Client;<br>
_A catering service, excluding foodstuffs and drinks;<br>
_Nautical activities (except for scuba diving) when authorised by local authorities and confirmed by the shipmaster, capable of being completed with the watercraft and equipment available on board (see Exhibit 1) and with sea and safety conditions permitting;<br>
_Cost incurred by the positioning of the vessel.<br></p>

The cruise price applies to all Passengers.<br>

<h6>4.2 The Cruise Agreement Price does not include:</h6><br>
<p>•Any incidental services not mentioned above under 4.1 and in particular taxes and duties related to port services, safety, the environment, access to national parks, disembarkation in special and/or protected areas and/or in areas subject to specific authorisation from national and/or local authorities (subject to change), etc.<br>
•Cost and expenses not mentioned above under 4.1 and, in particular costs incurred by any modification of the route or of the number of Passengers, such as the cost of fuel products and other expenses related, because of their very nature, to the cruise cost that would require an amendment.<br>
•Any client expense related to services separate from transportation giving rise to separate invoicing and in particular:<br>
_supplies of foodstuff and beverages (and in particular alcoholic beverages) to be made in response to specific requests made by the Client or any Passengers;<br>
_laudering services for the passenger's personnal belongings;<br>
_expenses related to communication services (fax, landline telephone, cellular or satellite telephone, emails, internet, etc.supplied through a subscription executed by the Vessel), according to rates applicable on board;<br>
_events specially organised at the request of the Client or the Passengers.<br>
•Expenses possibly incurred in the name and on behalf of the Client and the Passengers and in particular:<br>
_land excursions and any pre- or post-cruises activities;<br>
_transfers and supply of land services;<br>
_any services supplied on demand (hair salon, beauty treatments, etc.);<br>
_health expenses (medical consultation, treatment, medicines delivered onboard or on land);<br>
_luggage transfer at airports.<br>
•Expenditures for which the Client or the Passengers shall be personnally responsible, and in particular:<br>
_personnal expenditures, any gratuities, including gratuities paid to the crew;<br>
_expenses related to any formalities related to visas and health procedures;<br>
_insurance policies covering any risk of cancellation, assistance, repatriation, luggage, medical expenses and specific risks.<br></p>

<p><h6>4.3</h6> By making any downpayment in relation to the reservation of the cruise, the Client fully accepts the special and standard terms of sale, which are necessary know and accepted by him upon the signature of the present Agreement. After full payment of the cruise, the Client will receive a travel booklet with the cruise tickets (the Cruise Agreement, its amendments and other possible vouchers are considered cruise tickets).</p><br>

<small>PAGE 5</small><br>

<h6>4.4 Cruise Contract Price</h6> <br>
§.1- Base Cruise Price as defined in article 4.1, not including VAT, and any oil products : €{{ cruise_id.Price_base_cruis_it1 }}<br>
§.2- Cost incurred by the positioning of the Vessel as defined in Article 4.1, not including VAT, and any oil products: €{{Price_base_routing_it2}}<br>
§.3- Oil products* price taken into account for the Cruise Agreement, not including taxes: {{ cruise_id.fuel_agreement_tot }} litres x €{{ fuel_price1 }} /litre = €{{ Price_agreemnt_fuel_it3 }}<br>
§.4- Cruise Agreement Price, not including taxes (1+2+3): €{{ Price_agreemnt_cruise_it4 }}<br>
Determination of the taxable amount for the calculation of the Value Added Tax (VAT) base in point 3 of Exhibit 3 - Tax regime applicable.<br>
§.5- (§.4 Price / Total distance of Journey)xTotal distance in national waters: €{{ Price_prorataNW_it5 }}<br>
§.6- Value Added Tax (VAT): %{{ VAT_rate1 }}<br>
§.7- Amount of VAT: €{{ VAT_ammount_it7 }}<br>
§.8- Price inclusive of VAT due under the Cruise Agreement: € {{ Price_agreemnt_cruiseTTC_it8 }} i.e. a price per passenger equal to: € {{ Price_agreemnt_PPcruiseTTC_it8 }}<br>
Down payment upon booking: € {{ Payment_downP1_amount }} to be paid on the execution date thereof <br>
Booking down payment: € {{ Payment_downP2_amount }} to be paid before: {{ Payment_downP2_datedue }}<br>
Client Expense Advance**: € {{ Payment_CEA_amount }} to be paid before: {{ Payment_CEA_datedue }}<br>
Booking Balance: € {{ Payment_bal_amount }} to be paid before: {{ Payment_bal_datedue }}<br>
Holder's or Broker/Escrow Agent account: {{ stakeholder.account_name }}<br>
Banking institution to which the funds are transferred:{{ stakeholder.bank_name }}, {{ stakeholder.bank_country}}<br>
Bank account's IBAN number: {{ stakeholder.IBAN }} or {{ stakeholder.account_num }} BIC: {{ stakeholder.swiftbic }}<br>
*(see Article 13 of general terms) **(not included in the price due under the cruise agreement)<br>

<h6>4.5 Payment of the price / Escrow arrangements</h6> <br>

<p>Any and all funds received by the Broker(s) under this Agreement shall be transferred immediately upon receipt to the Escrow Agent and shall be held by the Escrow Agent in the currency of this Agreement.<br>
Fifty percent (50%) of the ammount of the Price inclusive of VAT due in respect of the Cruise under this Agreement shall be paid to the Carrier by the Escrow Agent (after deducting the full amount of the commission due to the Broker(s)) by bank transfer on the commencement date os the Cruise Period or on the first immediately following business day.<br></p>

<p>The Client Expense Advance shall be paid by the Escrow Agent, by bank  transfer, prior to embarkation. Such payment may be made at an earlier date, according to the Vessel's schedule and the local banking facilities. The Client Expense Advance shall be delivered to the shipmaster or to the Carrier, which shall then be responsible for forwarding it to the shipmaster.</p>

<p>The ballance of the price due under this Agreement shall be paid to the Carrier immediately upon the first business day following the end of the Cruise Period.</p>

<p>The Client shall determine at his own discretion the amount of any and all gratuities to be paid to the crew, in accordance with prevailing practices.</p>

<h5>ARTICLE 5 - OTHER SPECIAL TERMS</h5> <br>

<p>The Client, acting on his own behalf and on behalf of all Passengers, acknowledges that the pre-contractual information document referred to in the French Tourism Code, consisting in this draft agreement and the Exhibits hereto, was delivered.</p><br>

<p>The Client agrees to procure each Passenger's compliance with the Standard Term applicable to him.</p><br>

Other special terms:<br>

{{ cruise.special_terms }}

<small>PAGE 5</small><br>

<h5>SIGNATURES</h5> <br>

<p>The Carrier and the Client agree that the Standard Terms (article 1 to 19 inclusives) attached hereto form an integral part of this agreement, which is comprised of 18 pages, including the above Special Terms and the Exhibit hereto. By executing this Agreement, the Client acknowledges that he has reviewed all of the information required by the Tourism Code and by applicable transportation regulations.</p><br>
Made in a number of original copies equal to the number of Parties to this Agreement:<br>
_Exhibit 1 : Data sheet describing the Vessel and its Equipment.<br>
_Exhibit 2 : Covered risks and amount of the guarantees.<br>
_Exhibit 3 : Tax regime.<br>

The Client:<br>
In the name and on behalf of:<br>
Signatory's name:<br>
On*:<br>
Signature:<br>

The Carrier:<br>
In the name and on behalf of:<br>
Signatory's name:<br>
On*:<br>
Signature:<br>

*(This Agreement deemed executed on the latest of these two dates)<br>

In the Broker's presence:<br>
For and on behalf of:<br>
Signatory's name:<br>
On:<br>
Signature:<br>

And/or the Broker/Escrow Agent:<br>
For and on behalf of:<br>
Signatory's name:<br>
On:<br>
Signature:<br>
